.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 500px;
    max-width: 90dvw;
    height: auto;
    border-radius: 25px;
    background-color: white;
    border: 20px solid white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 20px;
    
    visibility: hidden;

    img{
        object-fit: contain;
        width: 500px;
        max-width: 90dvw;
    }

    h2{
        text-transform: none;
    }

    a{
        text-decoration: none;
    }

    p{
        padding: 1%;
    }
}

.startAnimation{
    visibility: visible;
    animation: 1.5s fadeInUp;
    animation-iteration-count: 1;
}

@media screen and (width > 1200px){
    .container{
        width: 600px;

        img{
            width: 600px;
        }
    }

}

@keyframes fadeInUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }

