

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    height: fit-content;
}

.contactForm{
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 10px;
    align-items: center;

    .formDiv{
        width: 100%;
        height: auto;
        

        *{
            width: 100%;
            border-radius: 20px;
            border: 2px solid #565656;
        }

        *:focus{
            border: 3px solid black;
            color: #222;

        }

        input{
            height: 50px;
            padding: 10px;
            color: var(--form-text-color);
        }

        textarea{
            padding: 10px;
            height: 200px;
            background-color: var(--background-color);
            color: var(--form-text-color);
        }
        
        

    }

    button{
        all: unset;
        background-color: #222;
        color: white;
        width: 126px;
        height: 50px;
        text-align: center;
        border-radius: 15px;
        /*box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);*/
        font-family: 'Rubik', sans-serif;
        font-weight: 700;
        font-size: 20px;
        cursor: pointer;
        transition: box-shadow .2s ease-in-out, transform .2s ease-in-out;
    }

    button:hover{
        transform: scale(1.05);
    }
    
}

.upperText{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

@media screen and (width > 1000px){
    .contactForm{
        width: 600px;
    }
}

@media screen and (width < 450px){
    .container{
        .upperText{
            width: 90dvw;

        }
        .contactForm{
            width: 90dvw;
        }
    }
}