.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.techTypes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.typeDiv{
    display: flex;
    gap: 10px;
}

@media screen and (width < 450px){
    .evenIcons{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .oddIcons{
        display: flex;
        width: 60%;
        flex-wrap: wrap;
        justify-content: center;
    }

    h2{
        text-align: center;
    }

    h3{
        text-align: center;
    }
}