:root{
    --background-color: #FFFFFF;
    --text-color: #222;
    --footer-text-color: #888;
}

*{
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    margin: 0 auto 60px;
}

h1,h2,h3,p{
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

h2,h3,p, span{
    font-family: 'Roboto Mono', monospace;
}

h1,h2 {
    text-transform: uppercase;
}

h2,h3 {
    font-size: 20px;
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
}

p, span {
    font-size: 16px;
    font-weight: 300;
}

.sectionTitle{
    margin-bottom: 30px;
}

.hover {
    cursor: pointer;
}

#root {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

@media screen and (width > 400px){
    #root{
        gap: 100px;
    }
 
}