.container{
    position: absolute;
    bottom: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    justify-self: center;
}

.container:hover{
  transform: scale(1.2);
  transition: transform .2s ease-in-out;
}

img{
  top: 50%;
  left: 50%;
}

.btn{
    all: unset;
    animation: bounce 2s 3s infinite, fade-in 2s;
    cursor: pointer;
}

@keyframes fade-in {
  0% {opacity: 0}
  50% {opacity: 0}
  100% {opacity: 1}
}
  
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-10px);
  }
}

@media screen and (width < 800px) and (width > 400px){
  .container{
    position: relative;
    bottom: 2%;
    img{
      width: 100px;
    }
  }
}

@media screen and (width < 400px){
  .container{
    position: relative;
    bottom: 0;
    gap: 0;
    img{
      width: 60px;
    }
  }
}